<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paiement Validé</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="centrage-form">

    <div class="cadre-finalisation">

        <h2>Paiement Validé !</h2>
        
        <p class="merci-text">
            Merci <strong>{{ nom }}</strong>, votre paiement simulé a été accepté avec succès et votre commande est en cours de préparation.
        </p>

        <div class="recap-liste">
            <p><strong>Numéro de commande :</strong> #{{ id_commande }}</p>
            <p><strong>Total payé :</strong> {{ total_panier }} €</p>
            <p><strong>Carte utilisée :</strong> **** **** **** {{ carte }}</p>
        </div>

        <div class="actions-finalisation">
            <a href="/client/{{ id_client }}/espace">Retour espace client</a>
            <a href="/">Retour à l'accueil</a>
        </div>

    </div>

</div>

</body>
</html>