<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paiement Sécurisé</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="centrage-form">

    <div class="cadre-paiement">

        <h2>Paiement Sécurisé</h2>
        
        <div class="code-box" style="font-size: 22px; letter-spacing: 0px;">
            Total à payer : {{ total_panier }} €
        </div>

        {% if erreur %}
            <p class="error-message">⚠️ {{ erreur }}</p>
        {% endif %}

        <form action="/paiement/{{ id_client }}" method="POST">
            
            <input type="text" name="nom" placeholder="Nom du titulaire de la carte" required><br>
            
            <input type="text" name="numero" placeholder="Numéro de carte (16 chiffres)" maxlength="16" required><br>
            
            <div class="form-row-paiement">
                <input type="text" name="expiration" placeholder="MM/AA" maxlength="5" required>
                <input type="text" name="cvv" placeholder="CVV" maxlength="3" required>
            </div>
            
            <button type="submit" class="btn-paiement">Valider le paiement</button>
        </form>

        <p class="retry-text">
            <a href="/client/{{ id_client }}/panier">Retour au panier</a>
        </p>

    </div>

</div>

</body>
</html>